@import url('../../public/tools/normalize.min.css');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--font-main: 'Montserrat', Arial, Helvetica, sans-serif;
	--font-size: clamp(12px, 2.4vw, 24px);
	--color-main: #162c35;
	--color-white: #f6f6f6;
}

html {
	background-color: var(--color-main);
}
body {
	overflow: hidden;
	font-family: var(--font-main);
	font-weight: normal;
	font-style: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: var(--color-white);
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	.text {
		max-width: clamp(320px, 65vw, 650px);
		font-weight: 600;
		font-size: var(--font-size);
		line-height: 150%;
		opacity: 0;
		div {
			display: inline-block;
		}
	}
	.fade-in {
		opacity: 1;
		transition: opacity 0.5s ease-in;
	}
}
